<!DOCTYPE html>
<html lang="en">
  <head>
	<title> Gift</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'custom_css/mainStyle.css') }}" rel="stylesheet">
	<link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename = 'vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'vendor/simple-line-icons/css/simple-line-icons.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>

<body id = "page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id = "mainNav">
        <div class = "container">
            <a class = "navbar-brand js-scroll-trigger" href = "#page-top">Gift</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#proj-des">Description</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#team-member">Team Info</a>
                    </li>
                  </ul>
            </div>
        </div>
    </nav>
    <header id="top-banner">
      <div class="container">
        <div class="row  r-200 my-auto mx-auto">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
				<h1 class="mb-5"> Gift</h1>
				<hr>
				<h3 style = "margin-bottom:25px"> A website that helps you pick a gift for your firends, family or love ones for any occasion. </h3>

                <a class ="btn btn-warning my-auto" href = "pick_gift.html">Pick Gift</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <img class = "header-content mx-auto" src = "static/images/gifts.png">
          </div>
        </div>

      </div>
    </header>


    <footer>
      <div class="container-fluid my-color-f text-center">
        <p>&copy; UBHacking-Gift</p>
        <ul class="list-inline my-auto">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="{{url_for('static',filename = 'vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{url_for('static',filename = 'vendor/popper/popper.min.js') }}"></script>
	<script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>